.lp-sections 
	background-color: #f6f6f6
	overflow: hidden


.lp-section
	position: relative
	background-repeat: no-repeat
	background-position: center
	
	&__inner
		position: relative
		max-width: 1170px
		padding: 70px 60px
		height: 100%
		margin: 0 auto
		+clr
		// background-color: #fff
		&.bg-gray
			background-color: #fafafa
	&__bg
		position: absolute
		background-repeat: no-repeat
		width: 100%
		height: 100%
	&__content
		position: absolute
	&__part
		position: relative
	&_one
		height: 580px
		text-align: center
	&_two
		height: 760px
		z-index: 1
		.lp-section__bg
			top: 20px
			left: 60px
			height: 905px
		.lp-section__content
			max-width: 540px
			top: 20px
			right: 60px
		p
			max-width: 1024px
			margin: 0 auto
	&_three 
		height: 810px
		text-align: center
		.lp-section__bg
			top: 0
			left: 0
			right: 0
		.lp-section__content
			max-width: 500px 
			top: 38%
			left: 50%
			transform: translate3D(-50%, -50%, 0)
	&_four
		height: 720px
		z-index: 1
		.lp-section__bg
			top: 60px
			right: 60px
			width: 365px
			height: 735px
		.lp-section__content
			max-width: 500px 
			top: 100px
			left: 60px
	&_six
		height: 900px
		.lp-section__bg
			top: 60px
			left: -370px
			height: 780px
		.lp-section__content
			max-width: 440px 
			top: 230px
			right: 60px
	&_seven
		height: 585px
		.lp-section__bg
			height: 100%
			background-position: center
		.lp-section__content
			max-width: 440px 
			top: 160px
			left: 60px
	&_eight
		height: 1582px
		.lp-section__bg
			top: -40px
			left: 0
			height: 100%
			background-position: center
		.lp-section__content
			max-width: 900px 
			bottom: 60px
			left: 60px
	&_nine
		height: 1280px
		.lp-section__bg
			top: 0px
			left: 50%
			transform: translateX(-50%)
		.lp-section__content
			bottom: 70px
			left: 60px
	&_ten
		height: 500px
		.lp-section__bg
			top: -30px
			left: 60px
			height: 550px
		.lp-section__content
			max-width: 530px
			top: 60px
			right: 30px
			
	&_eleven
		height: 975px
		.lp-section__inner
			text-align: center
		.lp-section__bg
			bottom: 0px
			left: 0
		.lp-section__content
			top: 60px
			width: 900px
			left: 50%
			transform: translateX(-50%)

	&_twelve
		.lp-section__inner
			padding-top: 30px
		.lp-section__bg
			position: relative
			margin-left: -60px
			width: auto
		.lp-section__content
			position: relative
		.title-h3_abs
			position: absolute
			max-width: 280px
			right: 60px
			top: 120px
			line-height: 1.1
	&_fourteen
		height: 830px
		.lp-section__bg
			top: -30px
			right: -260px
			height: 855px
			width: 700px
		.lp-section__content
			max-width: 630px
			top: 70px
			left: 60px
	&_fifteen
		height: 730px
		.lp-section__inner
			padding: 0
		.lp-section__part
			height: 100%
		.lp-section__bg
			top: 0
			right: 0
		.lp-section__content
			max-width: 480px
			top: 190px
			left: 60px
	&_sixteen
		height: 1330px
		.lp-section__bg
			top: 0
			left: 0	
		.lp-section__content
			max-width: 900px
			bottom: 60px
			left: 60px
	&_seventeen 
		height: 800px
		.lp-section__bg
			top: 0
			background-position: center